@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
    width:100%;
    height:100%;
    margin: 0px;
  /*  border-style: solid;
    border-color: red;*/
}  
body{
  /* border-style: solid;/*delete at end*/
  /*  border-color: black;*/
    font-family: Roboto;
    display: grid;
    grid-template: minmax(110px, 1fr) minmax(190px,4fr)/ minmax(190px,1fr) minmax(700px,5fr);
}
/*Setting the basic layout*/
.sidebar{
    
    grid-column: 1/3;
    grid-row: 1/-1;
    background-color: #1992D4;

 /*   border-style: solid;
    border-color: brown;*/
}
.header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);

  /*  border-style: solid;
    border-color: rgb(216, 11, 223);*/
}
.main-content{
    min-height: 100%;
    grid-column: 2/3;
    grid-row: 2/-1;
    background-color: #E2E8F0;

 /*   border-style: solid;
    border-color: rgb(4, 240, 55);*/
}
/*End of setting basic layout*/

/*Code for sidebar*/
.sidebar{
    
    display: flex;
    flex-direction: column;
    gap:10px;
    color:white;
   
}
.sidebar .logo {
    
    padding-left:9px;
}
.sidebar .logo li{
    display: flex;
    gap:10px;
    
    svg{
        width: 40px;
        height:40px;
        fill:white;
        align-self: center;
    }
    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap:15px;
    list-style: none;
    padding:0 0 0 20px;
}
.sidebar ul li{
    
    display: flex;
    gap:21px;
    
    
    svg{
        width: 18px;
        height: 18px;
        fill: white;
        align-self: center;
    }
}


/*End code for sidebar*/

/*Code for header Start*/
.header{
    display: grid;
    grid-template: 1fr 1fr/ 0.75fr 0.5fr;
    
}

.header .searchbar {
    display: flex;
    align-items: center;
    gap:10px;
    padding-left: 25px;
   
    svg{
    fill:black;
    width:20px;
    height:20px;
    }
    input{
        width: 90%;
        background-color: #E2E8F0;
        border-radius:10px;
        height: 40%;
        border-style: none;
    }
}
.header .user-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right:15%;
    svg{
     
        width:20px;
        height:20px;
        
    }
    .user-logo{
        fill:#FACC15;
        width: 40px;
        height: 40px;
        
    }
}

.greeting{
    
 /*   border-style: solid;
    border-color: red;*/
    padding: 0px 0px 20px 20px;
    display: grid;
    grid-template: 1fr / 0.1fr 1fr;
    align-items:start;
    font-size: 1em;
    
    .info{
        display: flex;
        flex-direction:column;
        
        padding-top: 0px;
        p,h2,h5{
            margin-top:0px;
            margin-bottom: 0px;
        }
    }
    svg{
        width: 50px;
        height: 50px;
        fill: #FACC15;
    }
}

.functions{
    
   /* border-style: solid;
    border-color: rgba(36, 12, 250, 0.452);*/
    display: flex;
    gap: 17px;
    justify-content: center;
    
    padding-right: 10px;
    align-items:start;
    .func-button{
        height: 50%;
        padding: 0px 30px 0px 30px;
        font-weight: 950;
        color: white;
        background-color: #1992D4;
        border-radius: 30px;
        border-style: none;
    
    }
    
}
/*Code for header end*/
/*code for main content*/
.main-content{
    display: grid;
    grid-template: minmax(0px,1fr) minmax(0px,1fr)/ minmax(0px,1fr) minmax(0px,0.4fr);
    
    
    
    
}
.projects{
    grid-column: 1/2;
    grid-row: 1/3;
 /*   border-style: solid;*/
    
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 10% minmax(0,1fr);
    h3{
        margin : 5px 0px 5px 5px;
    }
    .cards{
     /*   border-style: solid;
        border-color: rgb(78, 2, 255);*/

        display: grid;
        grid-template: repeat(3,minmax(0px,1fr)) /repeat(2,1fr) ;/*this stops the overflow of the cards, */
        align-content: start;
        gap: 10px;
        padding: 0px 10px 0px 10px;


    }     
}
.card{
    font-size: x-small;
    flex-grow:1;
    border-left-style: solid;
    border-radius: 11px;
    border-left-width: 7px;
    border-left-color: #F0B429;
    background-color: white;
    padding:10px;
    padding-top: 0px;
    
    
    display: flex;
    flex-direction: column;
  
    
    svg{
        width: 15px;
        height: 15px;
    }
    
    .icons{
        
        min-height: 0;
        display: flex;
        justify-content: flex-end;
        
        gap:15px
        
    }

}

.card-title{
    margin-bottom: 0px;
}
.card-text{
    margin-top: 0px;
}


.announcement{
    grid-column: 2/-1;
    grid-row: 1/2;
    display:grid;
    grid-template-rows: 25px minmax(0,1fr);
   /* border-style: solid;
    border-color: red;*/
    padding-bottom: 10px;
   
}
.trending{
    grid-column: 2/-1;
    grid-row: 2/-1;
  
    padding-bottom: 10px;
    /*
    border-color: blue;
    border-style: solid;*/
   

}
/*end code for main content*/

/*Start code for the announcement section*/
#announcement-main-title{
    margin-bottom: 5px;
    margin-top:0px;
    
    
}
.announcement-title{
    margin-bottom: 0px;
    margin-top:0px;
    padding-bottom: 1px;
   
}
div.updates-block{
    font-size: xx-small;
    display: grid;
    place-items: center;
    grid-template: repeat(3,minmax(0px,1fr))/minmax(0px,1fr);
    
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    padding:10px;
   

}
.announcement1{
    grid-row: 1/2;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;

   
    

}
.announcement2{
    grid-row: 2/3;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    margin-bottom: 7px;
    margin-top: 20px;
}
.announcement3{
    margin-top: 20px;
    grid-row: 3/-1;
    margin-top: 30px;
  
}



.announce-item{
  /*  border-style: solid;
    border-color: purple;*/
    
    width:70%;
    p:last-child{
        margin-top: 0px;
    }
}
/* end code the announement section*/

/*start trending part*/
.trending{
    display: grid;
    grid-template-rows: auto minmax(0,1fr);
}
.trending-item{
    display: flex;
    gap:10px;
    
    svg{
       width:40px;
       height: 40px; 
    }
}

.user-trending-info{
    p{
        margin:0px;
        font-size: small;
    }
    p:last-child{
        color:gray;
    }
    
}
.trending-block{
    background-color: white;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    border-radius: 3%;
    margin-left:10px;
    margin-right: 10px;
   
    .trending-user1{
        svg{
            fill:#e0f2fe;
        }
        

    }
    .trending-user2{
        svg{
            fill:#f9cb17;
        }
        
        
    }
    .trending-user3{svg{
        fill:#a2a4a3;
    }
  
}

    .trending-user4{
        svg{
            fill:#fca4ae;
        }
        
    }
    
}
/*end trending part*/